@use "variables" as v;

header{
  width: 100%;
  padding: 10px;
  background-color:v.$fondoHeader;
}


.imglogo{
    height: 100px;
    width: 200px;
    align-items:flex-start;
    animation: aparecer 1.5s ease-in-out forwards;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.tituloindex {
  font-family: v.$fuente !important;
  color: v.$colorPrincipal;
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-size: 3rem;
}

.titulospaces {
  color: v.$color-titulospaces !important;
  font-family: v.$fuente !important;
  text-align: center;
  font-weight: 700;
  margin: 0 0 1rem 0;
  font-size: clamp(2rem, 4vw, 3rem); // responsive
  line-height: 1.2;
}

.titulosoluciones {
  color: v.$color-titulosoluciones;
  font-family: v.$fuente;
}

.tituloportafolio {
  color: v.$color-tituloportafolio !important ;
  font-family: v.$fuente !important;
  text-align: center;
  font-weight: 700;
  margin: 0 0 1rem 0;
  font-size: clamp(2rem, 4vw, 3rem); // responsive
  line-height: 1.2;
}

.titulocontactanos {
  color: v.$color-titulocontactanos;
  font-family: v.$fuente;
}

.navbar {
    background-color:aliceblue !important;
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0.5rem 1rem;

    /* Logo */
    .navbar-brand {
      flex:auto;
      display: flex;
      align-items:flex-start;

      img {
        height: 150px !important;
        width: auto;
      }
    }

    /*.tituloindex {
      margin-left: 10px;
      font-size: 1.2rem;
      font-weight: bold;
      color: v.$colorPrincipal;
    }*/
  


  .nav-link {
    color: v.$color-link !important;
    border: 1px solid v.$colorPrincipal;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 0 5px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: v.$colorPrincipal;
      color: white !important;
    }

    &.active,
    &.navegacion__item--selected {
      background-color: v.$colorPrincipal;
      color: white !important;
    }
  }

  .navbar-toggler {
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(46,52,52,1)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  
  @include v.mobile {
  .navbar {
    flex-direction: column; // Logo, título y menú apilados
    align-items: flex-start; // 👉 alinear a la izquierda (cambia a flex-end para derecha)

    .navbar-collapse {
      justify-content: flex-start !important; // 👉 menú alineado a la izquierda
      width: 100%;
    }

    .nav-link {
      text-align: left; // 👉 enlaces alineados a la izquierda
      width: 100%;
    }
  }
}

}

